<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="autor" content="Jesus Alan Hernandez Galvan (Unlikeghost)">
<meta name="autor" content="Luis Fernández (lfer9980)">
    <meta name="description" content="Proyecto de Evaluación de las características sociales y clínicas de Chihuahua y su relación con el SARS-CoV-2 con un modelo de predicción Machine Learning">
    <meta property="og:title" content="Modelo Alaisa">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lfer9980.github.io/alaisa-web">
    <meta property="og:image" content="https://i.postimg.cc/cCRk1q8N/imagotipo-alaisa.jpg">
    <meta property="og:description" content="Proyecto de Evaluación de las características sociales y clínicas de Chihuahua y su relación con el SARS-CoV-2 con un modelo de predicción Machine Learning">
    <link rel="icon" type="icono Alaisa" href="../static/assets/icons/isotipo_alaisa--title.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>elart | generar reporte</title>
  </head>
  <body> <i class="material-icons button-theme">dark_mode</i><form action="" method="post">
<label class="label__ela" for="uname"><b>Imprimir Reporte: </b></label>
<label class="label__ela" for="uname"><b>Seleccione Departamento: </b></lab>
<select class="select__ela" name="Departamento">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
<label class="label__ela" for="uname"><b>Seleccione Empleado: </b></lab>
<select class="select__ela" name="Empleado">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
<button class="buton__ela" type="submit">Guardar</button>
    <script async src="../static/js/burgerButton.js"> </script>
  </body>
</html>