<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="autor" content="Jesus Alan Hernandez Galvan (Unlikeghost)">
<meta name="autor" content="Luis Fernández (lfer9980)">
    <meta name="description" content="Proyecto de Evaluación de las características sociales y clínicas de Chihuahua y su relación con el SARS-CoV-2 con un modelo de predicción Machine Learning">
    <meta property="og:title" content="Modelo Alaisa">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lfer9980.github.io/alaisa-web">
    <meta property="og:image" content="https://i.postimg.cc/cCRk1q8N/imagotipo-alaisa.jpg">
    <meta property="og:description" content="Proyecto de Evaluación de las características sociales y clínicas de Chihuahua y su relación con el SARS-CoV-2 con un modelo de predicción Machine Learning">
    <link rel="icon" type="icono Alaisa" href="../static/assets/icons/isotipo_alaisa--title.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>elart | add department</title>
  </head>
  <body> 
    <h1>ERROR <span>404</span></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum veritatis eum! Nostrum veniam, maxime ipsam libero temporibus nihil adipisci dolor distinctio? Explicabo iusto quam saepe! Expedita quis facere ratione!</p>
    <script async src="../static/js/burgerButton.js"> </script>
  </body>
</html>