section.estrellas 
	h3.estrellas__title Promedio general de insignias:
	.estrellas__departamento 
		p.estrellas__title Por departamento
		.estrellas__wrapper 
			i.material-icons stars 
			i.material-icons stars
			i.material-icons stars
			i.material-icons stars
	.estrellas__usuario
		p.estrellas__title Por usuario
		.estrellas_wrapper 
			i.material-icons stars 
			i.material-icons stars
			i.material-icons stars
			i.material-icons stars