section.department-eval 
	h4.department-eval__title Evaluaciones del departamento
	.department-eval__main 
		i.material-icons thumb_up 
		p.department-eval__main__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.button--brown--eva 
		a(href="") Realizar una evaluación
	.button--brown--info
		a(href="") Más información 

