section.profile-main
	.profile-main__foto
		picture 
			img(src="", alt="")
			figcaption Joaquin Hernández 
			figcaption Compras e insumos
	.profile-main__nivel 
		.profile-main__nivel
			i.material-icons check_circle_outline
			p rango
			p: span artiste
		.profile-main__estrella
			i.material-icons stars
			p
				span 4
				span estrellas