section.profile-user 
	.profile-user__left 
		img.profile__image(src="", alt="fotografia de usuario")
		.button--brown
			a(href="") Modificar perfil
	.profile-user__right 
		h3.profile-user__name Joaquin Hernández
		p.profile-user__description Compras e insumos
		p.profile-user__estrellas #[span 4] estrellas
		.profile-user__stars 
			i.material-icons stars 
			i.material-icons stars 
			i.material-icons stars 
			i.material-icons stars 
