section.profile-points 
	.profile-points__header 
		.profile-point__header__left
			h4.profile-points__title 	
			.profile__header__points 
				i.material-icons accessibility 
				span 2345
		.profile-point__header__left 
			span Graficos 
	.profile-points__main 
		h4 Sus ultimas Evaluaciones: 
		article.evaluations
			i.material-icons.evaluation__icon thumb_up 
			p.evaluation__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		article.evaluations
			i.material-icons.evaluation__icon thumb_up 
			p.evaluation__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	.button--brown 
		a(href="") Realizar una evaluación
