section.sentimiento 
	h4.sentimiento__title Analisis de sentimiento
	.sentimiento__main 
	span.sentimiento__subtitle Diagnostico: 
	p.sentimiento__info Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam