aside.sidebar
	img(src="../static/assets/img/logo-1@2x.png", alt="Logo elarts")
	p.sidebar__username Hola! Joaquín 
	nav.sidebar__nav 
		ul.sidebar__nav__data
			i.material-icons account_box 
			p Modificar perfil
		ul.sidebar__nav__data
			i.material-icons device_hub
			p Su departamento 
		ul.sidebar__nav__data
			i.material-icons assignment_turned_in
			p Sus evaluaciones 
	.button--brown 
		a(href="") Cerrar sesión
