aside.sidebar
	img(src="../static/assets/img/logo-1@2x.png", alt="Logo elarts")
	p.sidebar__username Hola! Joaquín 
	nav.sidebar__nav 
		ul.sidebar__nav__data
			li.sidebar__item
				a(href="") #[i.material-icons account_box] Modificar perfil 
			li.sidebar__item
				a(href="") #[i.material-icons device_hub] Reportes
			li.sidebar__nav__data 
				a(href="") #[i.material-icons assignment_turned_in] Editar usuarios 			
			li.sidebar__item 
				a(href="") #[i.material-icons remove_red_eye]Ver departamentos
	.button--brown 
		a(href="") Cerrar sesión

