aside.sidebar
	img(src="../static/assets/img/logo-1@2x.png", alt="Logo elarts")
	p.sidebar__username Hola! Joaquín 
	nav.sidebar__nav 
		ul.sidebar__nav__data
			li.sidebar__item
				a(href="") #[i.material-icons accessibility] Vista General 
			li.sidebar__item 
				a(href="") #[i.material-icons account_box] Modificar perfil
			li.sidebar__item
				a(href="") #[i.material-icons device_hub] Su departamento 
			li.sidebar__item
				a(href="") #[i.material-icons assignment_turned_in] Sus evaluaciones
			li.sidebar__item 
				a(href="") #[i.material-icons settings] Editar su perfil
	.button--brown 
		a(href="") Cerrar sesión
