section.team-overview
	h1.team-overview__title Miembros activos:
	h2.team-overview__subtitle 5 miembros
	.team-overview__main 
		article.team-overview__main__card 
			.card__left: img(src="", alt="")
			.card__right
				span.card__title Jesus Perez 
				p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
		article.team-overview__main__card 
		.card__left: img(src="", alt="")
		.card__right
			span.card__title Jesus Perez 
			p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
		article.team-overview__main__card 
				.card__left: img(src="", alt="")
				.card__right
					span.card__title Jesus Perez 
					p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam