extend components/template.pug
block css 
block title
	title elart | administrar departamentos
block contents
	include components/sidebar-admin.pug
	main.form
	.form__agregar
		form(action="" method="POST")
			label(class="form__label")
				span Agregar Departamento:
			label(class="form__label" for="departamento")
				span Nombre:
				input.form__input(type="text" placeholder="Ingrese el nombre del departamento" name="departamento" required)
			button.button__brown(type="submit") Crear departamento
	.form__editar
		form(action="" method="POST")
			label(class="form__label")
				span Editar departamento:
			label(class="form__label" for="departamento")
				span Nombre:
				input.form__input(list ="departamentos")
				datalist(id="departamentos")
					option(value="valor dummie")
			button.button__brown(type="submit") Crear departamento

block scripts