extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/admin-home.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
block title
	title elart | home 
block contents
	include components/sidebar-admin.pug
	main.home
		h1.home__tile OverView - l’chef
		.home__section
			include components/profile-admin.pug
		.home__section
			include components/estrellas.pug
			include components/graphics.pug
		.home__section
			include components/evaluations-department.pug

block scripts	
