extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/admin-reporte.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
block title
	title elart | generar reporte
block contents
	include components/sidebar-admin.pug
	main.reportes
		h2.reportes__title Imprimir Reporte:
		.form__reporte
			form(action="/auth/admin/reportes" method="POST")
				label.form__label(for="departamento")
					span Seleccione el departamento:
					input.form__input(list="departamentos" name="departamento")
					datalist(id="departamentos")
						option(value="valor dummie")
				button.button--brown(type="submit") Generar reportes
		section.reportes__resultados
			article.reporte__resultados__card 
				.profile-main__foto
					img(src="", alt="")
				.profile-main__data
					h3 Joaquin Hernández 
					span Compras e insumos
					.profile-main__data__estrellas
						i.material-icons stars
						p
							span 4
							span estrellas 
				.profile-main__grafico 
			article.reporte__resultados__card 
				.profile-main__foto
					img(src="", alt="")
				.profile-main__data
					h3 Joaquin Hernández 
					span Compras e insumos
					.profile-main__data__estrellas
						i.material-icons stars
						p
							span 4
							span estrellas 
				.profile-main__grafico 
					