extend components/template.pug
block css 
block title
	title elart | crear departamento
block contents
	<form action="" method="post">
	<label class="label__ela" for="uname"><b>Agregar Departameto: </b></label>
	<label class="label__ela" for="uname"><b>Nombre: </b></label>
	<input class="unput__ela" type="text" placeholder="<Nombre" name="Nombre" required>
	<label class="label__ela" for="uname"><b>Descripcion Departamento: </b></label>
	<input class="unput__ela" type="text" placeholder="Descripcion" name="Descripcion" required>
	<button class="buton__ela" type="submit">Guardar</button>

block scripts	