extend components/template.pug
block css 

block title
	title elart | Agregar un usuario
block contents
	include components/sidebar-admin.pug
	main.form
		h2.form__title Editar perfil
		.form__perfil
			form(action="" method="POST")
				label.form__label(for="nombre")
					span Nombre:
					input.form__input(type="text" placeholder="Escriba tu nombre" name="nombre" required)
				label.form__label(for="correo")
					span Correo Electronico:
					input.form__input(type="text" placeholder="Escriba su correo" name="correo" required)
				label.form__label(for="departamento")
					span Seleccione Departamento:
					input.form__input(list="departamentos" name="departamento")
					datalist(id="departamentos")
						option(value="valor dummie")
				button.button--brown(type="submit") Enviar información

