extend components/template.pug
block css 

block title
	title elart | home 
block contents
	include components/sidebar-admin.pug
	main.home
		h1.home__tile OverView - l’chef
		.home__section
			include components/profile-admin.pug
		.home__section
			include components/estrellas.pug
			include components/graphics.pug
		.home__section
			include components/evaluations-department.pug

block scripts	
