extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/result.css")

block title
	title elart | department
block contents
	main.department
		include components/sidebar.pug
		include components/profile-main.pug
		include components/profile-points.pug
block scripts	