extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/equipo-home.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

block title
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js" integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA==" crossorigin="anonymous" referrerpolicy="no-referrer")
	title elart | home 
block contents
	include components/sidebar-team.pug
	main.home
		h1.home__tile OverView - l’partenaire
		.home__section
			include components/profile-team.pug
		.home__section
			include components/profile-points.pug
		.home__section
			include components/evaluations-department.pug
			include components/graphics.pug

block scripts	
