extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/equipo-edit.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
block title
	title elart | editar usuario
block contents
	include components/sidebar-team.pug
	main.team-edit
		h2 editar perfil
		.team-edit__form
			img.team-edit__form__image(src="", alt="")
			form(action="/api/v1/equipo/editar" method="POST" autocomplete = "off")
				label.form__label(for="nombre")
					span Modificar nombre:
					input.form__input(type="text" placeholder="Escriba su nuevo nombre" name="nombre" required)
				label.form__label(for="password")
					span Su nueva contraseña:
					input.form__input(type="text" placeholder="Escriba su nueva contraseña" name="password" required)
				button.button--brown(type="submit") Guardar cambios

block scripts
