extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/equipo-evaluacion.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")

block title
	title elart | formulario
block contents
	include components/sidebar-team.pug
	main.team-evaluacion
	h2 crear una evaluación
	.team-evaluacion__form 
		form(action="/api/v1/equipo/evaluacion" method="POST")
			label.form__label(for="departamento")
				span Departamento:
				input.form__input(list="departamentos" name="departamento")
				datalist(id="departamentos")
					option(value="valor dummie")
			label.form__label(for="empleado")
				span Empleado:
				input.form__input(list="usuarios" name="usuario")
				datalist(id="usuarios")
					option(value="valor dummie")
			
			.form__rate__departament
				p Evaluación general al departamento del empleado:
					label(for="star5" title="text") 5 stars
					input(type="radio" id="star5" name="estrellas_departamento" value="5")
					label(for="star4" title="text") 4 stars
					input(type="radio" id="star4" name="estrellas_departamento" value="4")
					label(for="star3" title="text") 3 stars
					input(type="radio" id="star3" name="estrellas_departamento" value="3")
					label(for="star2" title="text") 2 stars
					input(type="radio" id="star2" name="estrellas_departamento" value="2")
					label(for="star1" title="text") 1 stars
					input(type="radio" id="star1" name="estrellas_departamento" value="1")

			.form__rate__empleado
				p Evaluación al desempeño del empleado:
					label(for="star5" title="text") 5 stars
					input(type="radio" id="star5" name="estrellas_empleado" value="5")
					label(for="star4" title="text") 4 stars
					input(type="radio" id="star4" name="estrellas_empleado" value="4")
					label(for="star3" title="text") 3 stars
					input(type="radio" id="star3" name="estrellas_empleado" value="3")
					label(for="star2" title="text") 2 stars
					input(type="radio" id="star2" name="estrellas_empleado" value="2")
					label(for="star1" title="text") 1 stars
					input(type="radio" id="star1" name="estrellas_empleado" value="1")

			label.form__label(for="comentario")
				input(type="textarea" placeholder="Agregue un breve comentario respecto al desempeño de su compañero, maximo 30 palabras..." name="comentario" required)

			button.button--brown(type="submit") Enviar Evaluacion
			<form>
		