extend components/template.pug
block css 
block title
    title elart | add department
block contents
    h1 ERROR #[span 404]
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt voluptatum veritatis eum! Nostrum veniam, maxime ipsam libero temporibus nihil adipisci dolor distinctio? Explicabo iusto quam saepe! Expedita quis facere ratione!
    
    



block scripts	