extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/index.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
block title
	title elart | iniciar Sesi칩n
block contents
	main.login 
		img(src="", alt="Logo de elart")
		.login__info 
			p Te damos la bienvenida a #[span e-lart.]
			p El lugar donde evaluamos tu desempe침o de forma efectiva.
		form.login__form(action="" method="POST") 
			label.form__label(for="usuario")
				input.form__input(type="text" placeholder="Usuario" name="usuario" required)
			label.form__label(for="contrase침a")
				input.form__input(type="password" placeholder="Contrase침a" name="password" required)
			button.button--brown(type="submit") Ingresar
		.login__separator
		form.login__form__administrador(action="" method="POST")
			button.button--brown(type="button"  onclick = "location.href = '/registro'" value="Registrar una cuenta" )
		img(src="", alt="Logo de Alfonso Marina")
block scripts	
