extend components/template.pug
block css 
block title
    title elart | Registro de administrador
block contents
    main.registro
        img(src="", alt="Logo de elart") 
        h4 Agregar administrador
        form.login__form(action="" method="POST") 
            label.form__label(for="nombre")
                span Nombre:
                input.form__input(type="text" placeholder="ingrese su nombre" name="nombre" required)
            label.form__label(for="correo")
                span Correo electronico:
                input.form__input(type="text" placeholder="" name="correo" required)
            label.form__label(for="contraseña")
                span Contraseña:
                input.form__input(type="text" placeholder="" name="password" required)
            button.button--brown(type="submit") Guardar
        img(src="", alt="Logo de Alfonso Marina")
