extend components/template.pug
block css 

block title
	title elart | Completado!
block contents
	main.success 
		h2.success__title Lorem ipsum dolor sit amet
		img(src="", alt="Completado!")
block scripts	
