extend components/template.pug
block css 

block title
	title elart | editar usuario
block contents
	include components/sidebar-team.pug
	main.team-edit
		h2 editar perfil
		.team-edit__form
			img.team-edit__form__image(src="", alt="")
			form(action="" method="post")
				label.form__label(for="nombre")
					span Modificar nombre:
					input.form__input(type="text" placeholder="Escriba su nuevo nombre" name="nombre" required)
				label.form__label(for="password")
					span Su nueva contraseña:
					input.form__input(type="text" placeholder="Escriba su nueva contraseña" name="password" required)
				button.button--brown(type="submit") Guardar cambios

block scripts
