extend components/template.pug
block css 
	link(rel="stylesheet", href="../static/css/result.css")

block title
	title elart | departmento
block contents
	include components/sidebar-team.pug
	main.department
		h1.department__title Departamento - overview
		.department__section
			include components/team-overview.pug
		.department__section
			include components/graphics.pug
			include components/evaluations-department.pug
		.department__section 
			include components/sentimiento.pug


block scripts	