extend components/template.pug
block css 

block title
	title elart | editar usuario
block contents

block scripts	
block contents 
		<form action="" method="post">
		<label class="label__ela" for="uname"><b>Agregar usuario: </b></label>

		<label class="label__ela" for="uname"><b>Correo: </b></label>
		<input class="input__ela" type="text" placeholder="Correo" name="comentarios" required></b></label>

		<label class="label__ela" for="uname"><b>Seleccione Departamento: </b></label>
		<select class="select__ela" name="Departamento">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
