<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="autor" content="Jesus Alan Hernandez Galvan (Unlikeghost)">
<meta name="autor" content="Luis Fernández (lfer9980)">
<meta name="autor" content="Leonel Valdez (leo1345)">
    <meta name="description" content="Proyecto de evaluaciones internas con AI para Alfonso Marina">
    <meta property="og:title" content="Elart: evaluando el arte by Alfonso Marina">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="https://i.postimg.cc/dV37vjLh/logo-1-2x.png">
    <meta property="og:description" content="Proyecto de evaluaciones internas con AI para Alfonso Marina">
    <link rel="icon" type="icono elart" href="../static/assets/img/logo-2@2x.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/result.css">
    <title>elart | department</title>
  </head>
  <body> 
    <main class="department">
      <aside class="sidebar"><img src="../static/assets/img/logo-1@2x.png" alt="Logo elarts">
        <p class="sidebar__username">Hola! Joaquín </p>
        <nav class="sidebar__nav"> 
          <ul class="sidebar__nav__data"><i class="material-icons">account_box </i>
            <p>Modificar perfil</p>
          </ul>
          <ul class="sidebar__nav__data"><i class="material-icons">device_hub</i>
            <p>Su departamento </p>
          </ul>
          <ul class="sidebar__nav__data"><i class="material-icons">assignment_turned_in</i>
            <p>Sus evaluaciones </p>
          </ul>
        </nav>
        <div class="button--brown"> <a href="">Cerrar sesión</a></div>
      </aside>
      <section class="profile-main">
        <div class="profile-main__foto">
          <picture> <img src="" alt="">
            <figcaption>Joaquin Hernández </figcaption>
            <figcaption>Compras e insumos</figcaption>
          </picture>
        </div>
        <div class="profile-main__nivel"> 
          <div class="profile-main__nivel"><i class="material-icons">check_circle_outline</i>
            <p>rango</p>
            <p><span>artiste</span></p>
          </div>
          <div class="profile-main__estrella"><i class="material-icons">stars</i>
            <p><span>4</span><span>estrellas</span></p>
          </div>
        </div>
      </section>
      <section class="profile-points"> 
        <div class="profile-points__header"> 
          <div class="profile-point__header__left">
            <h4 class="profile-points__title">	</h4>
            <div class="profile__header__points"> <i class="material-icons">accessibility </i><span>2345</span></div>
          </div>
          <div class="profile-point__header__left"> <span>Graficos </span></div>
        </div>
        <div class="profile-points__main"> 
          <h4>Sus ultimas Evaluaciones: </h4>
          <article class="evaluations"><i class="material-icons evaluation__icon">thumb_up </i>
            <p class="evaluation__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </article>
          <article class="evaluations"><i class="material-icons evaluation__icon">thumb_up </i>
            <p class="evaluation__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </article>
        </div>
        <div class="button--brown"> <a href="">Realizar una evaluación</a></div>
      </section>
      <section class="profile-points"> 
        <div class="profile-points__header"> 
          <div class="profile-point__header__left">
            <h4 class="profile-points__title">	</h4>
            <div class="profile__header__points"> <i class="material-icons">accessibility </i><span>2345</span></div>
          </div>
          <div class="profile-point__header__left"> <span>Graficos </span></div>
        </div>
        <div class="profile-points__main"> 
          <h4>Sus ultimas Evaluaciones: </h4>
          <article class="evaluations"><i class="material-icons evaluation__icon">thumb_up </i>
            <p class="evaluation__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </article>
          <article class="evaluations"><i class="material-icons evaluation__icon">thumb_up </i>
            <p class="evaluation__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </article>
        </div>
        <div class="button--brown"> <a href="">Realizar una evaluación</a></div>
      </section>
    </main>
  </body>
</html>