<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Jesus Alan Hernandez Galvan (Unlikeghost)">
    <meta name="autor" content="Luis Fernández (lfer9980)">
    <meta name="autor" content="Leonel Valdez (leo1345)">
    <meta name="description" content="Proyecto de evaluaciones internas con AI para Alfonso Marina">
    <meta property="og:title" content="Elart: evaluando el arte by Alfonso Marina">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="https://i.postimg.cc/dV37vjLh/logo-1-2x.png">
    <meta property="og:description" content="Proyecto de evaluaciones internas con AI para Alfonso Marina">
    <link rel="icon" type="icono elart" href="../static/assets/img/logo-2@2x.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>elart | iniciar Sesión</title>
  </head>
  <body> 
    <main class="login"> <img src="" alt="Logo de elart">
      <div class="login__info"> 
        <p>Te damos la bienvenida a <span>e-lart.</span></p>
        <p>El lugar donde evaluamos tu desempeño de forma efectiva.</p>
      </div>
      <form class="login__form" action="" method="POST" autocomplete="off"> 
        <label class="form__label" for="usuario">
          <input class="form__input" type="text" placeholder="Usuario" name="usuario" required>
        </label>
        <label class="form__label" for="contraseña">
          <input class="form__input" type="password" placeholder="Contraseña" name="password" required>
        </label>
        <button class="button--brown" type="submit">Ingresar</button>
      </form>
      <div class="login__separator"></div>
      <form class="login__form__administrador" action="" method="POST" autocomplete="off">
        <button class="button--brown" type="button" onclick="location.href = '/registro'" value="Registrar una cuenta"></button>
      </form><img src="" alt="Logo de Alfonso Marina">
    </main>
  </body>
</html>